@import "tailwindcss";
:root {
  --bg-color: #f3f4f6;
  --card-color: #ffffff;
  --text-color: #111827;
  --input-color: #ffffff;
  --border-color: #d1d5db;
}

body.dark {
  --bg-color: #0f172a;
  --card-color: #1e293b;
  --text-color: #ffffff;
  --input-color: #334155;
  --border-color: #475569;
}

body.light {
  --bg-color: #f3f4f6;
  --card-color: #ffffff;
  --text-color: #111827;
  --input-color: #ffffff;
  --border-color: #d1d5db;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}
.page-container {
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 12px;
  text-align: left;
  border: 1px solid #444;
}

th {
  background: #1f2937;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #555;
  margin: 5px;
}
button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}